.scrolltop {
  position: fixed;
  bottom: 20px;
  right: 30px; 
  cursor: pointer;
  z-index: 10;
  transition: all ease-in-out .4s;
  opacity: 0;
}

.scrolltop_active {
 display: block;
 opacity: 1;
}

@media screen and (max-width: 800px) {
  .scrolltop {
    right: 10px;
  }
}

@media screen and (max-width: 650px) {
  .scrolltop {
    right: 0px;
  }
}

.scrolltop:hover {
  filter: drop-shadow(0 0 14px var(--color-accent));
}

.scrolltop__btn:focus {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .scrolltop__ico {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-left: 2px solid #12abdb;
  border-bottom: 2px solid #12abdb;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  -webkit-animation: sdb07 6s infinite;
  animation: sdb07 6s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scrolltop__ico:nth-of-type(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.scrolltop__ico:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.25s;
}
.scrolltop__ico:nth-of-type(1) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.5s;
} */
  
.scrolltop__arrow {
  height: 60px;
  width: 35px;
}

.scrolltop__btn_text {
  color: var(--color-accent);
  margin: 0;
  
  text-align: center;
  font-size: 13px;
  font-weight: 400px;
}

