.button {
  width: var(--width);
  height: var(--height);
  background-image: var(--normal);
  background-color: transparent;
  background-size: var(--width) var(--height);
  border:none;
  position: relative;
  padding: 0;
  margin: 0;
  outline: none;   
}

@media screen and (max-width: 500px) {
  .button {
    width: calc(var(--width) * 0.7);
    height: calc(var(--height) * 0.7);
    background-size: calc(var(--width) * 0.7) calc(var(--height) * 0.7);
  }
}


.button__name {
  font-family: "Baloo", "Arial", sans-serif;
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: 400;
  color:#ffffff;
  text-align: center;
  padding-left: 10px;
}

@media screen and (max-width: 500px) {
  .button__name {
    font-size: 17px;
    padding-left: 10px;
  }
}

.button:hover {
  cursor: pointer;
}

.button::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: var(--hover);
  background-size: var(--width) var(--height);
  transition: all 0.4s cubic-bezier(0.65, 0, 0.076, 1);
  
}

@media screen and (max-width: 500px) {
  .button::before {  
    background-size: calc(var(--width) * 0.7) calc(var(--height) * 0.7);
  }
}

.button:hover.button::before{
  width: 100%;
}

.button:active {
  filter: drop-shadow(0 0 8px var(--color-secondary));
}
