.callme {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.callme__bg {
    background-image: var(--callmebg);
    background-size: 270px 130px;
    background-repeat: no-repeat;
    width: 270px;
    height: 130px;
}


@media screen and (max-width: 500px) {
  .callme__bg {
    background-image: var(--callmebg);
    background-size: 240px 100px;
    background-repeat: no-repeat;
    width: 240px;
    height: 100px;
}

}

.callme__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin:0;
    padding-bottom: 6px;
    color: var(--color-font);
}

@media screen and (max-width: 500px) {
  .callme__title {
    font-size: 20px;
    line-height: 28px;

    padding-bottom: 5px;   
}
  
}

.callme__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin:0;
  padding-top: 6px;
  color: var(--color-font);
}

@media screen and (max-width: 500px) {
.callme__subtitle {
  font-size: 12px;
  line-height: 24px;

  padding-top: 5px;   
}

}

.callme__subtitle_white {
  color: #FFFFFF;
}


.callme__title_white {
    color: #FFFFFF;
}

.callme__button {
    background: transparent;
    color: var(--color-accent);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none; 
    transition: all ease-in-out .4s;

}

.callme__button:not(:first-child) {
  padding-left: 15px; 
}

@media screen and (max-width: 500px) {
  .callme__button { 
    font-size: 20px;
}

}
@media screen and (max-width: 500px) {
.callme__button:not(:first-child) {
  padding-left: 8px; 
}


}

.callme__links {
  display: flex;
  justify-content: space-between;
  
}
.callme__ico {    
    width: 40px;
}



@media screen and (max-width: 500px) {
  .callme__ico {
    height: 30px;
}
  
}

.callme__button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--color-accent));
} 