.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0; 
  
  z-index: 12;
}

.popup__image-container {
  background: #ecece7;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
  border-radius: 10px 10px 100px 10px;
  position: relative;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .popup__image-container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .popup__image-container {
    width: 100%;
    height: 88%;
  }
}

/* @media screen and (max-width: 1600px) {
  .popup__image-container { 
    width: 1100px;
    height: 750px;
  }
} */

.popup__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .popup__slide {   
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    box-sizing: border-box;
    height: 78%;
  }
}

.popup.popup_is-opened {
  visibility: visible;
  opacity: 1;
  background: rgba(14, 42, 54, 0.2);
}

.popup__image {
  width: 100%;
  object-fit: contain;
  max-height: 720px;
  pointer-events: none;
  border-radius: 15px;
  margin-bottom: auto;
}

 @media screen and (max-width: 1600px) {
  .popup__image {
       max-height: 500px;

  }
}


@media screen and (max-width: 1400px) {
  .popup__image {
   
    max-height: 400px;

  }
} 
@media screen and (max-width: 900px) {
  .popup__image {
    padding-top: 0px;
    max-height: 400px;
  
  }
} 

@media screen and (max-width: 500px) {
  .popup__image {
    padding-top: 20px;
 

  }
} 

.popup__image-title {
  align-self: baseline;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--color);

  padding-bottom: 20px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .popup__image-title {
 
    font-size: 52px;
    line-height: 60px;
    color: var(--color);  
    padding-bottom: 15px;  
  }
} 


@media screen and (max-width: 900px) {
  .popup__image-title { 
    font-size: 24px;
    line-height: 32px;
    color: var(--color);  
    padding-bottom: 5px;
    padding-left: 10px; 
    margin-bottom: auto; 
  }
} 

.popup__close-button {
  background: url(../../images/cross.png);
  background-size: 100px 100px;
  border: none;
  cursor: pointer;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  right: 10px;
  padding: 0;
  outline: none;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .popup__close-button {

    width: 50px;
    height: 50px;
    top: 0px;
    right: 10px;
    background-size: 50px 50px;
  }
  
} 

.popup__close-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/cross-hover.png);
 
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1);
}

.popup__close-button:hover::before {
  opacity: 1;
}

.popup__close-button:active {
  transform: scale(1.2);
}



.popup__button {
  position: absolute;
  background: transparent;
  border: none;
  padding: 10px;
  outline: none;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1);
  top: 45%;
}

@media screen and (max-width: 500px) {
  .popup__button {
    bottom: -15%;
  }
  
} 


.popup__slider-button_prev {  
  left: 0px;
}

.popup__slider-button_next {
  right: 0px;
}

.image-popup {
  background: rgba(1, 45, 73, 0.8);
}
.popup__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}

.popup__navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.popup__nav-image {
  width: 70px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: transform 0.3s cubic-bezier(0.5, 0, 0, 1);
}


.popup__nav-image_current {
  filter: drop-shadow(0 0 10px var(--color));
}

.popup__nav-image:not(.popup__nav-image_current):hover {
  transform: translateY(-8px);
}


.popup__image-counter {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-font);
  margin-left: auto;
  width: 40px;
}

@media screen and (max-width: 900px) {
  .popup__image-counter {
  position: absolute;
  top: -5px;
  left: 50%;
  }
  
} 



