.wakesurf {
  display: flex;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .wakesurf {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  min-height: 1605px;
  overflow: hidden;
  }
  
}


.wakesurf__info { 
  background-image: var(--wakesurf);
  background-size: 932px 997px;
  background-repeat: no-repeat;
  background-position: bottom ;
  height: 900px;
  padding-top: 120px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;  
}

@media screen and (max-width: 1800px) {
  .wakesurf__info { 
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;  
    background-size: cover;
    height: auto;
    
  }
  
}

@media screen and (max-width: 1400px) {
  .wakesurf__info { 
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 0px;  
    background-size: cover;
    height: auto;
  }
  
}


@media screen and (max-width: 900px) {
  .wakesurf__info { 
    background-image: var(--wakesurf-mobile);
   
    background-repeat: no-repeat;
    background-position: bottom ;
    min-height: 1000px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;  
  }
  
}

@media screen and (max-width: 350px) {
  .wakesurf__info { 

    padding-left: 5px;
    padding-right: 5px;     
  }
  
}


.wakesurf__board {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

@media screen and (max-width: 1800px) {
  .wakesurf__board {
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }  
  
}

@media screen and (max-width: 900px) {
  .wakesurf__board {
  position: relative;
  }  
  
}


.wakesurf__subtitle {
padding-bottom: 20px;
}


@media screen and (max-width: 1800px) {
  .wakesurf__subtitle {
    padding-bottom: 10px;
    }
   
  
}


.wakesurf__desc-tabs {
  padding-bottom: 40px;
}


@media screen and (max-width: 1800px) {
  .wakesurf__desc-tabs {
    padding-bottom: 20px;
  }
   
  
}

@media screen and (max-width: 900px) {
  .wakesurf__desc-tabs {
    padding-bottom: 40px;
  }
   
  
}

.wakesurf__photos {
 
}

@media screen and (max-width: 900px) {
  .wakesurf__photos {
    position: relative;

  }
  
}

.wakesurf__photos-img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .wakesurf__photos-img {
    position: absolute;
    object-fit: cover;
    width: 130%;
    top: -150px;
    left: -15%;   
  
  }
  
}

.wakesurf__contact { 
  padding-left: 80px;
  display: flex;
  padding-top: 10px;
}

@media screen and (max-width: 1800px) {
  .wakesurf__contact { 
    padding-top: 0px;
    padding-left: 0px;
   flex-direction: column;
   align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .wakesurf__contact { 
    padding-top: 210px;
    
  }
}


.wakesurf__callme {
  align-self:flex-end;
  
}

@media screen and (max-width: 1800px) {
  .wakesurf__callme {
    padding-top: 10px;
    align-self:center;
    
  }
}
