.main {
  width: 100%;
 
  z-index: 1;
  scroll-snap-type: y mandatory;
}

.main__section {

  box-sizing: border-box;
}


.main__intro {
  background-image: var(--introbg);
  background-size: cover;
  background-position: top;
 
}

.main__about {
  
background: linear-gradient(256.35deg, #E3E8E2 0%, #ECEBE7 91.6%);
  height: 100vh;
 
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}





