.certificates {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1600px) {
  .certificates {

    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .certificates {

    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  .certificates {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 350px) {
  .certificates {
    padding-right: 5px;
    padding-left: 5px;
   
  }
}


.certificates__columns {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

@media screen and (max-width: 500px) {
  .certificates__columns {

    flex-direction: column-reverse;
  }
}

.certificates__column_left {
  flex-basis: 50%;
}

@media screen and (max-width: 500px) {
  .certificates__column_left {
    flex-basis: 100%;
  }
}

.certificates__button {
  padding-top: 45px;
 display: flex;
 justify-content: center;
}

.certificates__column_right {
  padding-left: 50px;
  
}


@media screen and (max-width: 1400px) {
  .certificates__column_right {
    padding-left: 20px;
    display: flex;
    justify-content: center;
  }
  
}

@media screen and (max-width: 500px) {
  .certificates__column_right {
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
}


.certificates__img {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .certificates__img {
    width: 80%;
  }
  
}

@media screen and (max-width: 500px) {
  .certificates__img {
    width: 100%;
  }
  
}