.header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 350px; 
  margin: 0 auto;
  /* z-index: 10; */
  box-sizing: border-box;
  background-color: var(--color-paper);
}

@media screen and (max-width: 1920px) {
  .header {
    padding: 5px 150px;
  }
}

@media screen and (max-width: 1600px) {
  .header {
    padding: 5px 20px;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    padding: 14px 60px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 14px 60px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 14px 18px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 5px 10px;
    height: 36px;   
  }
}

.header__logo {
  height: 40px;
 
}

@media screen and (max-width: 500px) {
  .header__logo {
    height: 30px;   
  }
}