.header {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 14px 350px;
  gap: 44px;
  margin: 0 auto;
  z-index: 5;
  height: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
  .header {
    padding: 14px 150px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 14px 100px;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    padding: 14px 60px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 14px 60px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 14px 18px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 14px 18px;
  }
}

.header_sticky {
  background: rgb(3, 85, 137, 0.9);
  position: fixed;
  height: 50px;
  top: 0;
  transition: all 0.7s ease-in-out;
  transition-delay: 150ms;
}
