.tabs{
  background-image: var(--pricebg);
  background-size: 380px 205px;
  background-position: center right;
  background-repeat: no-repeat;
display: flex;
align-items: center;
width: 580px;
}

@media screen and (max-width: 1400px) {
  .tabs{
    background-image: var(--pricebg);
    background-size: 380px 195px;
    background-position: top right;
    background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 540px;
  }
  
}

@media screen and (max-width: 500px) {
  .tabs{
    background-image: var(--pricebg);
    background-size: 270px 220px;
    background-position: bottom right -30px;
    background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 350px;
  }
  
}

@media screen and (max-width: 360px) {
  .tabs{
    background-image: var(--pricebg);
    background-size: 270px 220px;
    background-position: bottom right -30px;
    background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 100%;
  }
  
}



.tabs__titles{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0;
  

}

.tab__title{
  font-size: 20px;
  height: 55px;
  display: inline-block;
  color: var(--color-darkgrey);
  cursor: pointer;
  width: 254px;
  padding-top: 18px;
  box-sizing: border-box;
  padding-left: 15px;
  transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1);
}


@media screen and (max-width: 1400px) {
  .tab__title{
    font-size: 18px;
    height: 55px;
    display: inline-block;
    color: var(--color-darkgrey);
    cursor: pointer;
    width: 214px;
    padding-top: 18px;
    box-sizing: border-box;
    padding-left: 15px;
    transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1);
   
  }
}

@media screen and (max-width: 500px) {
  .tab__title{
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    display: inline-block;
    color: var(--color-darkgrey);
    cursor: pointer;
    width: 160px;    
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 5px;
    transition: color 0.4s cubic-bezier(0.65, 0, 0.076, 1);
    text-align: center;
    vertical-align: baseline;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 340px) {
  .tab__title{
    padding-left: 0px;
    width: 130px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px; 
  }
}






.tab__title:not(.tab__title_active):hover {
  filter: drop-shadow(0 0 12px var(--active-color));
  transition: filter  0.4s cubic-bezier(0.65, 0, 0.076, 1);
}



.tab__title_active {
  background-image: var(--activetab);
  background-size: 260px 50px;
  background-repeat: no-repeat;
  background-position: left;
  color: var(--active-color);
  font-weight: 700;
}


@media screen and (max-width: 500px) {
  .tab__title_active {
    background-image: var(--activetab);
    background-size: 150px 100%;
    background-repeat: no-repeat;
    background-position: left bottom 0px;
    color: var(--active-color);
    font-weight: 700;
  }
  
}

.tabs__content { 
  min-height: 220px; 
  padding-top: 40px; 
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .tabs__content { 
    padding-top: 25px; 
    font-size: 18px;
    min-height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .tabs__content { 
    padding-top: 20px; 
    font-size: 16px;
    min-height: 210px;
  }
}






.tab__content{
  opacity: 0;
  transition: opacity  .4s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
}

@media screen and (max-width: 500px) {
  .tab__content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
}


.tab__content_active {
  opacity: 1;

  z-index: 5;
}


.tab__ico{
  fill: var(--color-darkgrey);
  padding-right: 6px;
  transition: all  0.4s cubic-bezier(0.65, 0, 0.076, 1);
  height: 20px;
}


.tab__ico_active {
  fill: var(--active-color);
}

.tab-table {
  min-width: 350px;
}

@media screen and (max-width: 500px) {
  .tab-table {
    min-width: 180px;
   
  }
  
}


.tab-table__name {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .tab-table__name {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 330px) {
  .tab-table__name {
    font-size: 14px;
  }
  
}

.tab-table__value {
  margin: 0;
  font-weight: 700;
  /* color: var(--active-color); */
}

@media screen and (max-width: 500px) {
  .tab-table__value {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 330px) {
  .tab-table__value {
    font-size: 14px;
  }
  
}


.tab-table__string {
  height: 32px;

}

.tab-table__link {
  padding: 0;
  margin: 0;
  display: flex;
  text-decoration: none;
  color: var(--color-text);
  padding-top: 15px;
  transition: all  0.4s cubic-bezier(0.65, 0, 0.076, 1);
}

@media screen and (max-width: 500px) {
  .tab-table__link {     
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
}


.tab-table__link:hover {
  filter: drop-shadow(0 0 10px var(--color-accent));
}

.tab-table__location {
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .tab-table__location {
    margin-left: 0;
    text-align: center;
    flex: 100%;
    
    padding-top: 5px;
  }
}