.intro {
    min-height: 100vh;
    position: relative;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

}


@media screen and (max-width: 1600px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;  
  }
}


.intro__logo {
  width: 600px;
 object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .intro__logo {
    width: 550px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .intro__logo {
    width: 500px;
    
  }
}

.intro__socials {
    padding-top: 100px;
}

.intro__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px; left: 0; right: 0;
    margin: auto;
}

@media screen and (max-width: 1600px) {
  .intro__heading {
    padding-left: 20px;
    padding-right: 20px;  
  }
}

.intro__button{
position: absolute;
bottom: 20px;
right: 0;
}

@media screen and (max-width: 1600px) {
  .intro__button{

    right: 20px;
    }
}

.intro__price {
  width: 200px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--color-accent);
}