.footer {
  background-image: var(--footer-bg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 700px;
  display: flex;
}

@media screen and (max-width: 1600px) {
  .footer {
    min-height: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    min-height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    min-height: 620px;
    background-size: 550%;
    background-position: bottom;
  }
}

.footer__content {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding-bottom: 30px;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .footer__content {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1400px) {
  .footer__content {
    max-width: 1300px;
  }
}

@media screen and (max-width: 500px) {
  .footer__content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 10px;
    align-items: center;
  }
}

.footer__socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .footer__socials {
    padding-bottom: 0px;
  }
}

.footer__logo {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  .footer__logo {
    width: 150px;
    height: 100px;
    object-fit: contain;
  }
}

.footer__maps {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer__maps {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__maps-item {

}

.footer__maps-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: ease-in-out 0.3s;
}

.footer__maps-link:hover {
  color: var(--color-accent);
}

.footer__maps-link:active {
  filter: drop-shadow(0 0 6px var(--color-accent));
}

.footer__maps-item:first-of-type {
  flex-basis: 100%;
  padding-bottom: 40px;
}

@media screen and (max-width: 500px) {
  .footer__maps-item:first-of-type {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}

.footer__maps-value {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
@media screen and (max-width: 500px) {
  .footer__maps-value {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
  }
}

.footer__maps-name {
  font-weight: 700;
}

.footer__maps-ico {
  padding-right: 10px;
}

.footer__ico-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.footer__contacts {
  color: #fff;
  padding-right: 150px;
}

@media screen and (max-width: 500px) {
  .footer__contacts {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.footer__contacts-title {
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .footer__contacts-title {
    flex-basis: 100%;
    text-align: center;
  }
}

.footer__contacts-item:not(:last-of-type) {
  padding-bottom: 22px;
}

.footer__contacts-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  transition: ease-in-out 0.3s;
}

.footer__contacts-link:hover {
  color: var(--color-accent);
}

.footer__contacts-ico {
  width: 35px;
  height: 35px;
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
  .footer__contacts-ico {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
}

.footer__contacts-value {
  margin: 0;
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .footer__contacts-value {
    margin: 0;
    font-size: 16px;
  }
}
