

.socials__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
}

 @media screen and (max-width: 500px) {  .socials__list {

    flex-direction: row;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    height: 26px;
}

} 

.socials__list_row {
  flex-direction: row;
}

.socials__item{
    min-height: 40px;
    width: 40px;
}

@media screen and (max-width: 500px) {
  .socials__item {
    width: 26px;
    min-height: 26px;
    
  }

}

.socials__link {
    text-decoration: none;
}

.socials__ico {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .socials__ico {
    width: 26px;
    height: 26px;
  }

}

.socials__item {
  transition: ease-in-out .4s;
 
}

.socials__item:hover {
  transform: scale(1.15);  
  filter: drop-shadow(0 0 6px var(--color-accent));
}

.socials__link:active {
  filter: drop-shadow(0 0 10px var(--color-accent));
}