.accordion {
  width: 100%;
  height: 1000px;
  display: flex;
  box-sizing: border-box; 
  position: relative;
}

@media screen and (max-width: 1920px) {
  .accordion {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1600px) {
  .accordion {  
    height: 820px;  
    padding-left: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .accordion {
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .accordion {
    padding-left: 00px;
  }
}



.accordion-wrapper__type_slider {
  overflow: hidden;
  padding-left: 0px;
  
}

.accordion__type_slider { 
  height: 100%;
  
  transition: all 0.6s cubic-bezier(0.65, 0, 0.076, 1);
}

.panel {
  display: flex;
  position: relative;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow: hidden;
}

.panel__border:after {
  content: "";
  position: absolute;
  right: -1px;
  bottom: 0;
  z-index: 4;
  width: 4px;
  height: 95%;
  background-image: var(--line);
  background-size: 4px 100%;
}


.panel[aria-expanded="false"] {
  padding-left: 0;
}

.panel__label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-top: 460px;
  transition: 0.7s all cubic-bezier(0.5, 0, 0, 1);
  z-index: 1;
}


@media screen and (max-width: 1600px) {
  .panel__label {
    padding-top: 320px;
  }
}

@media screen and (max-width: 1400px) {
  .panel__label {
    padding-top: 290px;
  }
}



.panel__label:focus {
  outline: none;
}

.panel[aria-expanded="true"] .panel__label {
  height: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.1s opacity cubic-bezier(0.5, 0, 0, 1);
}

.panel__label-icons {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 1400px) {
  .panel__label-icons {
    max-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .panel__label-icons {
    flex-direction: column;
    min-height: 130px;
    align-items: center;
    max-width: 50px;
    padding-right: 15px;
  }
}

.panel__label-ico {
  height: 35px;
}

@media screen and (max-width: 1400px) {
  .panel__label-ico {
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .panel__label-ico {
    height: 26px;
    max-width: fit-content;
  }
}

.panel__button {
  margin-top: auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1400px) {
  .panel__button {
    margin-top: 190px;
   
  }
}

.panel__title {
  margin: 0;
  transition: all ease-in-out .4s;
  font-weight: 700;
  font-size: 40px;
  text-align: right;
  box-sizing: border-box;
  position: relative;
}


@media screen and (max-width: 1600px) {
  .panel__title {
    font-size: 30px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1400px) {
  .panel__title {
    letter-spacing: -1px;
  }
}

.panel__title::before {
  position: absolute;
  top: -10%;
  left: -7%;
  content: '';
  background-image: var(--title-bg);
  width: 110%;
  height: 110%;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}





.panel__label:hover {
  filter: drop-shadow(0 0 30px var(--color));
}

.panel__inner {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0;
  background: transparent;
  background-position: top 140px left 30px;
  background-size: 550px;
  background-repeat: no-repeat;
  transition: 0.7s width cubic-bezier(0.5, 0, 0, 1);
}


.panel__inner::after {
   position: absolute;
   top: 140px;
   left: 30px;
   content: '';
   background-image: var(--boat-img);
   width: 660px;
   height: 360px;
   background-position: top left;
   background-size: 660px;
   background-repeat: no-repeat;
}

@media screen and (max-width: 1600px) {
  .panel__inner::after {
    position: absolute;
    top: 140px;
    right: 0px;
    content: '';
    background-image: var(--boat-img);
    width: 800px;
    height: 230px;
    background-position: top left;
    background-size: 500px;
    background-repeat: no-repeat;
  }
}


@media screen and (max-width: 1400px) {
  .panel__inner::after {
    position: absolute;
    top: 110px;
    right: 0px;
    content: '';
    background-image: var(--boat-img);
    width: 480px;
    height: 220px;
    background-position: top left;
    background-size: 500px;
    background-repeat: no-repeat;
  }
}



/* -------------------------------------------------CONTENT---------------------------------------------------- */

.panel__content-wrapper {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  transition: 0.7s all cubic-bezier(0.5, 0, 0, 1);
  will-change: transform, opacity;
  z-index: 0;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 50px;
}

@media screen and (max-width: 1600px) {
  .panel__content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.panel__content-wrapper[aria-expanded="true"] {
  z-index: 5;
}




@media screen and (max-width: 1200px) {
  .panel__content-wrapper {
    max-width: 480px;
  }
}




.panel__content-wrapper_slider{
  position: relative;
  box-shadow: 0px 0px 12px var(--color);
  box-sizing: border-box;
  transition: 0.7s all cubic-bezier(0.5, 0, 0, 1);
  will-change: transform, opacity;
  z-index: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  
}

.panel__content-wrapper_slider::after {
  position: absolute;
  top: 120px;
  left: 10px;
  content: '';
  background-image: var(--boat-img);
  width: 285px;
  height: 150px;
  background-position: top right -10px;
  background-size: 300px;
  background-repeat: no-repeat;
}



.panel__content {
  display: flex;
  flex-wrap: wrap;  
  
}



.panel__content_slider {
  flex-direction: column;
  
}



.panel__subtitle {  
  font-size: 60px;
  margin: 0;
  font-weight: 700;
  padding: 0;
  max-width: 580px;
}

@media screen and (max-width: 1600px) {
  .panel__subtitle {

  }
}

@media screen and (max-width: 900px) {
  .panel__subtitle {
    padding: 0px 0 20px 50px;
    font-size: 30px;
    max-width: 420px;
  }
}


@media screen and (max-width: 500px) {
  .panel__subtitle {
    padding: 0;    
    max-width: 320px;
  }
}

.panel__subtitle_span {
  max-width: 580px;
}


@media screen and (max-width: 500px) {

  .panel__subtitle_span {
    max-width: 320px;
  }
  
}

.panel__subtitle_disable {
  display: none;
}

/* -------------------------------------------------PHOTOS---------------------------------------------------- */

.panel__photos {
  display: flex;
  flex-basis: 100%;
  margin-left: 50%;
  padding-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.panel__photos-wrapper {
  position: relative;
  overflow: hidden;  
  z-index: 11;
}


.panel__photos:hover {
  cursor: zoom-in;
  }

@media screen and (max-width: 1600px) {
  .panel__photos { 
    padding-top: 0px;
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  .panel__photos {  
    padding-top: 0px;
    gap: 0px;
    justify-content: left;
    margin-left: 0;
    flex-wrap: nowrap;
    width: 100%;
  }
}


.panel__photo {
  width: 200px;
  height: 112px;
  object-fit: cover;
  border-radius: 40px 6px 6px 6px;
  transition: 0.3s filter cubic-bezier(0.5, 0, 0, 1);
}

@media screen and (max-width: 1600px) {
  .panel__photo {
    width: 170px;
    height: 75px;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .panel__photo {
    min-width: var(--photo-width);
    height: 175px;
    object-fit: cover;
  }
}


.panel__photo:nth-child(even) {
  border-radius: 6px 6px 40px 6px;
}

.panel__photos:hover .panel__photo {
  filter: drop-shadow(0 0 14px var(--color));
  }



/* -------------------------------------------------INCLUDE---------------------------------------------------- */


.panel__include {
 flex-basis: 50%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;   
  max-width: 480px;
  margin-left: auto;
  
}

@media screen and (max-width: 1600px) {
  .panel__include {
    flex-basis: 45%;
     padding-top: 10px;
     
   }
}

@media screen and (max-width: 500px) {
  .panel__include {
    flex-basis: 100%;
     padding-top: 10px;
     margin-left: 0;
     max-width: 480px;
     justify-content: space-between;
     min-height: 160px;
   }
}


.panel__include-item {
  display: flex;
  flex-basis: 40%;
  align-items: center;  
  height: 40px; 
}






.panel__include-ico-wrapper {
  flex-basis: 22%;
}

.panel__include-ico {  
  display: block;
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width: 500px) {
  .panel__include-ico {  
   height: 28px;
  }
}

.panel__include-info {
  font-size: 18px;
  color: var(--color-font);
  margin: 0;
}


@media screen and (max-width: 500px) {
  .panel__include-info {
    font-size: 14px;
    color: var(--color-font);
    margin: 0;
  }
}

.panel__include-link {
  text-decoration: none;
  color: var(--color);
  transition: ease-in-out .3s;
}

.panel__include-link:hover {
  filter: drop-shadow(0 0 12px var(--color));
}


.panel__map-link {
  margin: 0;
}

.panel__map-link {
  font-size: 14px;
  padding-top: 4px;
}

@media screen and (max-width: 500px) {
  .panel__map-link {
    font-size: 12px;
    padding-top: 2px;
  }
}
/* -------------------------------------------------INFO---------------------------------------------------- */

.panel__info { 
  flex-basis: 50%;
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {

  .panel__info { 
    flex-basis: 100%;
    align-items: center;
    padding-top: 20px;
  }
}

.panel__info-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
 text-align: center;
  padding-bottom: 10px;
  max-width: 500px; 
}

@media screen and (max-width: 500px) {

  .panel__info-title {
    font-size: 20px;
    max-width: 100%; 
  }
}

.panel__info-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 500px;
}

@media screen and (max-width: 500px) {
  .panel__info-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
     justify-content: space-between;
    padding-left: 20px;
   
  }
}

.panel__info-item {
  flex-basis: 50%;
}

@media screen and (max-width: 500px) {
  .panel__info-item {
    flex-basis: 45%;

  }
}

.panel__callme {
  align-self: center;
  padding-top: 10px;
}

/* -------------------------------------------------PRICES---------------------------------------------------- */

.panel__prices {

  flex-basis: 50%;
 
  box-sizing: border-box;
color: var(--color-font);
  background-image: var(--pricebg);
  background-size: 440px 200px;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

@media screen and (max-width: 500px) {
  .panel__prices {   
    flex-basis:100%; 
    background-image: var(--pricebg);
    background-size: 400px 190px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 16px;

    
  }
}

.panel-table {
  min-width: 420px;
  padding-top: 30px;
  padding-left: 50px;
  min-height: 170px;
}

@media screen and (max-width: 500px) {
  .panel-table {
   
    min-width: 300px;
    padding-top: 30px;
    padding-left: 20px;   
    min-height: 160px;
  }
}

.panel-table__string {
  height: 32px; 
}

@media screen and (max-width: 500px) {
  .panel-table__string {
    height: 28px; 
  }
}


.panel-table__name {
  margin: 0;
}

.panel-table__value {
  margin: 0;
  font-weight: 700;

}

.panel__prices-discount {
  font-size: 16px;
  margin: 0;
  color: var(--color-accent);
  padding-top: 24px;
  padding-bottom: 20px; 
}

@media screen and (max-width: 1600px) {
  .panel__prices-discount {
    font-size: 16px;
    margin: 0;
    color: var(--color-accent);
    padding-top: 16px;
    padding-bottom: 5px; 
  }
}

@media screen and (max-width: 500px) {
  .panel__prices-discount {
 
    padding-top: 20px;
    padding-bottom: 10px; 
  }
}






/* -------------------------------------------------DESCRIPTION---------------------------------------------------- */
.panel__description-wrapper {
  display: flex;
  flex-basis: 50%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  padding-top: 20px;
}

@media screen and (max-width: 1600px) {
  .panel__description-wrapper {
    padding-top: 10px;
    padding-right: 20px;
  }
}



@media screen and (max-width: 500px) {
  .panel__description-wrapper {
    flex-basis: 100%;
    padding-right: 0px;
    padding-top: 30px;
  }
}


.panel__description {
 
  color: var(--color-font);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

}



@media screen and (max-width: 1600px) {
  .panel__description {
margin-bottom: 10px; 

  }
}

@media screen and (max-width: 500px) {
  .panel__description {
    font-size: 16px;
    line-height: 24px;
    
  }
}

.panel__content-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
  color: var(--color);
  max-width: 450px;
  position: relative; 
}
@media screen and (max-width: 1600px) {
  .panel__content-title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media screen and (max-width: 500px) {
  .panel__content-title {
    max-width: 150px;
  }
}

.panel__content-title::before {
  position: absolute;
  top: -20%;
  left: -7%;
  content: '';
  background-image: var(--title-bg);
  width: 110%;
  height: 120%;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}



@media screen and (max-width: 900px) {
  .panel__content-title {
    font-size: 22px;
  }
}




.panel[aria-expanded="true"] .panel__inner:before {
  display: none;
}
