.wakeboard {
  max-width: 2070px;
  margin-left: auto;
 
}

@media screen and (max-width: 1920px) {
  .wakeboard {
    max-width: 2070px;
    margin-left: auto;
    padding-left: 155px;
  }
}


@media screen and (max-width: 1600px) {
  .wakeboard {
    max-width: 2070px;
    margin-left: auto;
    padding-left: 0px;
  }
}


.wakeboard__columns {
  display: flex;
  background-image: var(--wakeboard-wide);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}



@media screen and (max-width: 1920px) {
  .wakeboard__columns {
    display: flex;
    background-image: var(--wakeboard);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width: 1300px) {
  .wakeboard__columns {
    display: flex;
    background-image: var(--wakeboard-wide);
    background-size: 37%;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width: 1150px) {
  .wakeboard__columns {
    display: flex;
    background-image: var(--wakeboard-wide);
    background-size: 30%;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 50px;
  }
  
}

@media screen and (max-width: 900px) {
  .wakeboard__columns {
    background-image: var(--wakeboard-mobile);
    background-size: 100%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 350px) {
  .wakeboard__columns {

    padding-left: 5px;
    padding-right: 5px;
  }
}


.wakeboard__bg {
  border-radius: 250px 0px 0px 0px;
}

.wakeboard__column_left {
  margin-right: 45px;
  width: 660px;
}


@media screen and (max-width: 1920px) {
  .wakeboard__column_left {
    margin-right: 45px;
    width: 560px;
  }
}


@media screen and (max-width: 1400px) {
  .wakeboard__column_left {
    margin-right: 15px;
    width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .wakeboard__column_left {
    margin-right: 0px;
    padding-top: 0px;
    width: 100%;
  }
}

.wakeboard__column_right {

}


@media screen and (max-width: 900px) {
  .wakeboard__column_right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
}

.wakeboard__title {
  padding-top: 50px;
  max-width: 460px;
}

@media screen and (max-width: 900px) {
  .wakeboard__title {
    
    padding-top: 10px;
  }
}

.wakeboard__subtitle {
  max-width: 460px;
}

@media screen and (max-width: 900px) {
  .wakeboard__subtitle {
    
    padding-bottom: 112%;
  }
}

.wakeboard__description {
  max-width: 650px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1600px) {
  .wakeboard__description {
    padding-bottom: 30px;
  }
}

.wakeboard__info {
  display: flex;
  align-items: flex-end;
}


@media screen and (max-width: 900px) {
  .wakeboard__info {
    flex-direction: column;
    align-items: center;
  }
}


.wakeboard__prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
}

@media screen and (max-width: 1400px) {
  .wakeboard__prices {
    padding-right: 20px;
  }
}

@media screen and (max-width: 900px) {
  .wakeboard__prices {
    padding-right: 0px;
    width: 100%;
    padding-bottom: 30px;
  }
}

