.wakeboard {
    max-width: 2070px;
    margin-left: auto;
    padding-left: 155px;
 
}

@media screen and (max-width: 1600px) {
    .wakeboard {
        max-width: 2070px;
        margin-left: auto;
        padding-left: 0px;
     
    }
  }
  

.wakeboard__columns {
    display: flex;
    background-image: var(--wakeboard);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}



.wakeboard__bg {
    border-radius: 250px 0px 0px 0px;

   
}

.wakeboard__column_left{
    margin-right: 45px;
    width: 560px;
}

.wakeboard__column_right {
 
}

.wakeboard__title {
    padding-top: 50px;
    max-width: 460px;
}

.wakeboard__subtitle {
    max-width: 460px;

}

.wakeboard__description {   
    max-width: 650px;    
    padding-bottom: 50px;
}


@media screen and (max-width: 1600px) {
    .wakeboard__description {   
            
        padding-bottom: 30px;
    }
  }
  

.wakeboard__info {
    display: flex;
    align-items: end;
    
}

.wakeboard__prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
}