.walks {
    padding-top: 110px;
    padding-bottom: 80px;
    background-image: var(--walksbg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65%;
}
@media screen and (max-width: 1600px) {
    .walks {
       padding-left: 20px;
    }
    
  }

  @media screen and (max-width: 500px) {
    .walks {
      padding-left: 0px;
       padding-top: 80px;
       padding-bottom: 50px;
       background-size: 120%;
    }
    
  }




.walks__intro {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;

}

@media screen and (max-width: 500px) {
  .walks__intro {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

@media screen and (max-width: 350px) {
  .walks__intro {

    padding-left: 5px;
    padding-right: 5px;
  }
  
}


.walks__title {
    max-width: 550px; 
    color: #ffffff !important;
}

@media screen and (max-width: 500px) {
    .walks__title {
        padding-bottom: 10px;
    }    
    
  }

.walks__subtitle {
    max-width: 550px;
}



@media screen and (max-width: 500px) {
    .walks__subtitle {
        padding-bottom: 0px;
        max-width: 350px;
    }
    
    
  }

.walks__description {
  color: #fff !important;
  
   
    max-width: 715px; 
    padding-bottom: 50px; 
}

@media screen and (max-width: 1600px) {
    .walks__description {
      
          padding-bottom: 90px; 
      }
  }

  @media screen and (max-width: 390px) {
    .walks__description {
      
          padding-bottom: 110px; 
      }
  }


